* {
    margin: 0;
    padding: 0;
}

/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 200px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-heading {
    margin-bottom: 35px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}


.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;

}

.banner-pic {
    width: 400px;
    height: 500px;
    margin-top: 100px;
}

main section {
    margin-top: 130px;
}

/* shared style  */

/* featured styles */
.pink-div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    /* background-image: url('../images/flower-7.png');
    background-repeat: no-repeat; */
    /* background-position: bottom; */
    /* margin-bottom: 0px; */

}

.pink-flower {
    background-position: bottom;


}

.pink-detail {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.blue-div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.green-div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* hot deal styles */
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 300px;

}

.hot-deal-banner {
    padding: 30px 200px 20px 200px;
    display: flex;
    align-items: center;
}


.btn-signup {
    text-align: center;

}

/* instagram styles */

.section-heading {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 130px;

}

.deal-banner {
    display: flex;
}

/* top e shared styles */

.social-description {
    padding: 32px 460px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.flower-container {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.flower {
    height: 420px;
    width: 330px;
    padding: 50 240;
    gap: 24px;
    border-radius: 5px;

}

/* deal section styles  */
.deal-header {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.deal-container {
    background-image: url("../images/flower-6.png");
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.deal-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;

}

/* instagram section styles */

#email {
    height: 45px;
    width: 700px;
    border: 0px;
    border-radius: 8px;

}

.connect {
    margin-left: 300px;
    padding-bottom: 120px;
}

/* footer started  */
.footer {
    background-color: #111010;
    padding: 105px;
    margin-top: 118px;
    margin-bottom: 0px;

}

.footer-flower {
    color: #E55473;
}

.footer-heading {
    color: white;
    font-size: 30px;
    width: 0px;
    margin: 0 auto;
    text-align: center;
}

.footer-description {
    margin-left: 100px;
    padding: 30px 160px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.copyright {
    padding: 30px 650px;
    padding-bottom: 128px;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* footer end  */