* {
    margin: 0;
    padding: 0;
}

/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 200px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-heading {
    margin-bottom: 35px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}


.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;

}

.banner-pic {
    width: 400px;
    height: 500px;
    margin-top: 100px;
}

main section {
    margin-top: 130px;
}

/* shared style  */
/* instagram styles */

.section-heading {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 130px;

}

/* top e shared styles */

.social-description {
    padding: 32px 460px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.flower-container {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.flower {
    height: 420px;
    width: 330px;
    padding: 50 240;
    gap: 24px;
    border-radius: 5px;

}

/* deal section styles  */
.deal-container{
      background-image: url("../images/flower-6.png");
      background-repeat: no-repeat;
      max-width: 1440px;
      margin: 0 auto;
      margin-bottom: 30px;
      
}

.deal-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;

}

#email {
    height: 45px;
    width: 700px;
  
}
.connect{
    margin-left: 300px;
    padding-bottom:120px;
}

